body::-webkit-scrollbar {
    width: 10px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #f1f0f0;
    border-left: 1px solid gray;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #626e31;
    border: 2px solid #626e31;
}

p {
    margin: 0;
}

body {
    overflow: overlay;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #000;
    background-color: #f6f8fb;
}

nav {
    position: relative;
    z-index: 100;
    margin: 0;
    margin-right: 10px;
    height: 60px;
    background: #f6f8fa;
    box-shadow: 0px 2px 10px #D3D3D3;
}

nav img {
    height: auto;
    margin-left: 48px;
    width: 120px;
    margin-top: 4px;
}

nav ul {
    float: right;
    margin-right: 30px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    margin-top: 10px;
    display: block;
    color: #626e31;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 0.3;
    text-decoration: none;
    transition: .5s;
}

nav ul li a:hover,
nav ul li a.active {
    text-decoration: underline;
}

nav ul ul {
    position: absolute;
    top: 85px;
    opacity: 0;
    visibility: hidden;
}

nav ul li:hover>ul {
    background: #f6f8fa;
    top: 60px;
    opacity: 1;
    visibility: visible;
    transition: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0px 2px 10px #D3D3D3;
    padding-bottom: 10px;
}

nav ul ul li {
    width: 150px;
    display: list-item;
    position: relative;
    border-top: none;
}

article {
    margin: 100px auto;
    width: 500px;
}

article h3 {
    text-align: center;
    font-size: 125%
}

.img-overlay-wrap {
    min-width: 100%;
    width: auto;
    position: relative;
    display: inline-block;
    /* <= shrinks container to image size */
}

.headerImage {
    /* The image used */
    background-image: url("static/header_clean.png");
    /* Set a specific height */
    height: 50vw;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-overlay-wrap svg {
    position: absolute;
    top: 29vw;
}

.saffyParallaxText {
    position: absolute;
    right: 5vw;
    top: 30%;
    color: #c3dc55;
}

footer {
    margin-top: 50px;
    background-color: #303c1c;
    height: 460px;
    line-height: 1.25;
    border-top: 5px solid #d9a11c;
    text-align: center;
}

footer div {
    display: inline-block;
    margin: 0 50px;
}

.footerContainer {
    position: relative;
    margin: 0 auto;
}

.footerAbout {
    color: #fefffe;
    width: 200px;
}

footer h3 {
    color: #d9a11c;
}

.footerAbout a {
    text-decoration: none;
    color: #d9a11c;
}

.footerAbout a:hover {
    text-decoration: underline;
    color: #d9a11c;
}

.footerPartner {
    color: #fefffe;
    width: 300px;
}

.footerPartner ul {
    margin: 0px;
    list-style-type: none;
    padding: 0px;
}

.footerPartner ul li {
    margin-top: 10px;
    display: inline-block;
    width: 15%;
}

.footerPartner ul li a {
    text-decoration: none;
    color: #d9a11c;
}

.footerPartner ul li a:hover {
    text-decoration: underline;
}

footer form {
    color: #fefffe;
    float: left;
    width: 250px;
}

footer form input,
footer form textarea {
    color: #aeb973;
    font-size: 90%;
    background-color: #757f4b;
    width: 100%;
    height: 120px;
    margin: 8px 0;
    padding: 10px;
    display: inline-block;
    border: 0px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

footer form input {
    height: 30px;
}

.partnerPicture {
    width: 40px;
}

.submit {
    background-color: #d9a11c;
}

.event_breakout li {
    justify-content: center;
    align-items: center;
    height: 300px;
    margin: 0rem;
    padding: 0rem;
    display: inline-block;
    width: 50vw;
    height: 300px;
    background: #f6f8fc;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: #f6f8fa;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

table {
    width: 90%;
}

th,
td {
    border-radius: 10px;
    width: 5%;
    height: 250px;
    border-spacing: 10px;
}

tr:nth-child(even) {
    background-color: #b3ffc6;
}

* {
    box-sizing: border-box;
}


/* Create two unequal columns that floats next to each other */

.column {
    float: left;
    padding: 10px;
    height: 300px;
    /* Should be removed. Only for demonstration */
}

.left {
    width: 75%;
}

.right {
    width: 25%;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

* {
    box-sizing: border-box;
}


/* The actual timeline (the vertical ruler) */

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}


/* The actual timeline (the vertical ruler) */

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #2e3a19;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}


/* Container around content */

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}


/* The circles on the timeline */

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}


/* Place the container to the left */

.left {
    left: 0;
}


/* Place the container to the right */

.right {
    left: 50%;
}


/* Add arrows to the left container (pointing right) */

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}


/* Add arrows to the right container (pointing left) */

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}


/* Fix the circle for containers on the right side */

.right::after {
    left: -16px;
}


/* The actual content */

.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border: 2px solid #2e3a19;
    border-radius: 6px;
}


/* Media queries - Responsive timeline on screens less than 600px wide */

@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }
    /* Full-width containers */
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    /* Make sure that all arrows are pointing leftwards */
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }
    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 15px;
    }
    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}

.fairtradediv {
    margin-top: calc(100px + 4vw);
    margin-bottom: calc(100px + 8vw);
    display: flex;
}

.fairtrade_text h1 {
    font-size: 3rem;
    margin-left: 40px;
    color: #303c1c;
    margin-top: -10px;
}

.fairtrade_text p {
    letter-spacing: 0.5px;
    text-align: justify;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 40px;
    width: 80%;
}