html {
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #000;
    background-color: #F6F8FA;
}

p {
    margin: 0;
}

nav {
    height: 50px;
    background-color: #F6F8FA;
    /* box-shadow: 0px 10px 5px #1A1B1D; */
    margin-top: 5px;
    margin-bottom: 10px;
}

nav ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: #626e31;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover:not(.active) {
    text-decoration: underline;
}

article {
    margin: 100px auto;
    width: 500px;
}

article h3 {
    text-align: center;
    font-size: 125%
}

footer {
    margin: 0;
    height: 100px;
    background-color: #2e3a19;
}

.img-overlay-wrap {
    width: 100%;
    position: relative;
    display: inline-block;
    /* <= shrinks container to image size */
}

.headerImage {
    /* <= optional, for responsiveness
    display: block;
    width: 100%; */
    /* The image used */
    background-image: url("static/header.png");
    /* Set a specific height */
    height: 50vw;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.img-overlay-wrap svg {
    position: absolute;
    top: 28vw;
}